<%= render "navbar" %>
  <div class="hcontainer"
       data-controller="graph all-graph"
       data-all-graph-urls-value="<%= @group_urls  %>"
       data-all-graph-co2s-value="<%= @group_co2s %>">
    <div class="welcome-message">
      <% if user_signed_in? %>
        <h3>Hey <strong><%= current_user.email.split('@').first %></strong> !</h3>
        <h4>You've consumed <strong> <%= @visits.map(&:co2).compact.sum.round(2) %></strong> g of CO2 today</h4>
        <h4>But don't worry we'll break it down for you ...</h4>
      <% end %>




      <div data-graph-target="chart" data-green="<%= green_data(@visits) %>" ></div>
      <div data-all-graph-target="container" ></div>
    </div>
    <div class="timeperiod">
      <div class="period">
       <div class="button_period">
        <%= link_to 'Day', request.params.merge(period: 'day'), data: { turbo: false } %>
       </div>
      </div>
      <div class="period">
        <div class="button_period">
         <%= link_to 'Week', request.params.merge(period: 'week'), data: { turbo: false } %>
        </div>
      </div>
      <div class="period">
        <div class="button_period">
          <%= link_to 'Month', request.params.merge(period: 'month'), data: { turbo: false } %>
        </div>
      </div>
    </div>

    <div class="consumption-info">
      <div class="carbon-intensity">
        <h4> Energy Intensity </h4>
        <p>Today your browsing consumed <%= @visits.map(&:energy).compact.sum.round(2) %> KW g.</p>
        <br>
        <p>Want to learn more about websites carbon footprint? </p>
        <a href="https://www.websitecarbon.com/how-does-it-work/" target="_blanck" class="learn-btn"><strong>Learn More</strong></a>
      </div>

      <div class="timeperiod-consumption">
        <div class="time-title">
          <h4>Today - <%= Time.now.strftime("%A %d of %B, %Y") %> </h4> <br>
        </div>

        <div class="consumption-breakdown">

        </div>
      </div>
    </div>

    <div class="peakhour">
    <h4>Your carbon consumption peaked between <strong>9:00 a.m</strong> and <strong>12:00 p.m</strong></h4>
    </div>


    <h3> Your browsing represents: </h3>
    <div class="consumption-imaged">
      <div id="lamp-lit">
        <i class="fa-regular fa-lightbulb fa-4x"></i>
        <h4>A light lit for 1.25 minutes</h4>
      </div>

      <div id="tv-watch">
        <i class="fa-solid fa-tv fa-4x"></i>
        <h4>Watching TV for 8.6 minutes</h4>
      </div>

      <div id="train" >
        <i class="fa-solid fa-train fa-4x"></i>
        <h4>71 meters traveled by train</h4>
      </div>
    </div>

    <div class="funfacts">
      <div id="f1">
        <iframe src="https://embed.lottiefiles.com/animation/8368"></iframe>
        <h4>Why do we need a fossil-free internet?</h4>
        <p>One day, the internet will be powered by renewable energy. Until that day comes, there’ll be a CO2
        cost that comes with every byte of data that’s uploaded or downloaded. </p>
      </div>

      <div id="f2">
      <iframe src="https://embed.lottiefiles.com/animation/41371"></iframe>
      <h4>2030 greenhouse gas reduction goals</h4>
      <p>Using renewable energies is the key to speeding up the transition towards
      a green carbon-free internet. This would act towards fulfilling the fit for 55 plan to decarbonize Europe.</p>
      </div>

      <div id="f3">
      <iframe src="https://embed.lottiefiles.com/animation/48418"></iframe>
      <h4>5 ways to reduce your footprint significantly</h4>
      <ol>
        <li>Power down your laptop</li>
        <li>Reduce your meat and diary consumption</li>
        <li>Refuse single-use plastic</li>
        <li>Reduce and rethink your transportation</li>
        <li>switch to green energy</li>
      </ol>
      </div>
    </div>

  </div>
</div>
<%= render "footer" %>
<%= console %>
