<div class="hcontainer"
      data-controller="graph all-graph"
      data-all-graph-urls-value="<%= @data.map { |x| x[:url] } %>"
      data-all-graph-co2s-value="<%= @data.map { |x| x[:co2] } %>">

  <div class="logo-text-navbar">
    <div class="logo">
      <%= link_to "#", class: "navbar-brand" do %>
        <%= image_tag "logo.png"%>
    </div>
    <div class="code">
        <h2>c0_de</h2>
      <% end %>
    </div>
  </div>
  <header>
    <div class="welcome-message">
      <% if user_signed_in? %>
        <h3>Hey <strong><%= current_user.email.split('@').first.capitalize %></strong> !</h3>
        <h4>You've consumed <strong> <%= @visits.map(&:co2).compact.sum.round(2) %></strong> g of CO2</h4>
        <h4>But don't worry we'll break it down for you ...</h4>
      <% end %>
    </div>
    <div id="timebar">
      <p>Here's your data for the: </p>
      <div class="timeperiod" data-controller="button">
        <div class="period">
          <div class="button_period">
          <%= link_to 'Day', request.params.merge(period: 'day'), class: class_names("toggleBtn": params[:period] == "day"), data: { turbo: false } %>
          </div>
        </div>
        <div class="period">
          <div class="button_period">
            <%= link_to 'Week', request.params.merge(period: 'week'), class: class_names("toggleBtn": params[:period] == "week"), data: { turbo: false }  %>
          </div>
        </div>
        <div class="period">
          <div class="button_period">
            <%= link_to 'Month', request.params.merge(period: 'month'), class: class_names("toggleBtn": params[:period] == "month"), data: { turbo: false }  %>
          </div>
        </div>
      </div>
    </div>
  </header>
  <div class="peakhour">
    <div class="info">
      <div><h4><%= @visits.map(&:co2).compact.sum.round(2) %> g of Co2</h4> </div>
      <div><p>Browsing requires energy that has a carbon footprint</p></div>
    </div>
    <div class="info">
      <div>
        <h4><%= @visits.map(&:energy).compact.sum.round(2) %> KWh</h4>
      </div>
      <div><p>A kWh is a way to measure how much energy you're using</p></div>
    </div>
    <div class="info">
      <div>
        <h4><%= bytes_data(@visits) %> Bytes</h4>
      </div>
      <div>
        <p>Bytes are a unit of digital information that consists of 8 units</p>
      </div>
    </div>
  </div>

  <div class="consumption-info">
    <div class="carbon-intensity">
      <div class="div-text">
        <h4> <strong>Energy Intensity</strong></h4>
        <p>This is the percentage of the websites you navigated, use renewable energies to host their servers.</p>
      </div>
      <div id="pie-chart">
        <div data-graph-target="chart" data-green="<%= green_data(@visits) %>" ></div>
      </div>
      <div class="div-button">
        <p> Want to learn more about websites carbon footprint? </p>
        <a href="https://www.websitecarbon.com/how-does-it-work/" target="_blanck" class="learn-btn"><strong>Learn More</strong></a>
      </div>
    </div>

    <div class="consumption-breakdown">
      <div class="time-title">
        <h4>These are your greediest website</strong></h4>
        <%# <h4><strong>Today - <%= Time.now.strftime("%A %d of %B, %Y") ></strong></h4> %>

      </div>
      <div class="linechart">
        <div data-all-graph-target="container"></div>
      </div>
    </div>
  </div>


  <h6> What your consomation equals to </h6>
  <div class="consumption-imaged">
    <div id="laundry">
      <i class="fa-solid fa-socks fa-5x"></i>
      <h5>A <%= @visits.map(&:laundry).compact.sum.round(0) %> minutes laundry cycle </h5>
    </div>

    <div id="e-bike">
      <i class="fa-solid fa-person-biking fa-5x"></i>
      <h5> <%= @visits.map(&:e_bike).compact.sum.round(0) %> km travelling by e-bike</h5>
    </div>

    <div id="phone" >
     <i class="fa-solid fa-mobile-screen fa-5x"></i>
      <h5> <%= @visits.map(&:phone_cycles).compact.sum.round(0) %> phone charges</h5>
    </div>
  </div>

  <h6>Green facts: </h6>
  <div class="funfacts">
    <div id="f1">
      <div><iframe src="https://embed.lottiefiles.com/animation/8368"></iframe></div>
      <div class="funfact-text">
        <h4>Why do we need a fossil-free internet?</h4>
        <p>One day, the internet will be powered by renewable energy. Until that day comes, there’ll be a CO2
        cost that comes with every byte of data that’s uploaded or downloaded. </p>
      </div>
    </div>

    <div id="f2">
      <div><iframe src="https://embed.lottiefiles.com/animation/41371"></iframe></div>
      <div class="funfact-text">
      <h4>2030 greenhouse gas reduction goals</h4>
      <p>Using renewable energies is the key to speeding up the transition towards
      a green carbon-free internet. This would act towards fulfilling the fit for 55 plan to decarbonize Europe.</p>
      </div>
    </div>

    <div id="f3">
      <div><iframe src="https://embed.lottiefiles.com/animation/48418"></iframe></div>
      <div class="funfact-text">
        <h4>5 ways to reduce your footprint significantly</h4>
        <ol>
          <li>Power down your laptop</li>
          <li>Reduce your meat and diary consumption</li>
          <li>Refuse single-use plastic</li>
          <li>Reduce and rethink your transportation</li>
          <li>switch to green energy</li>
        </ol>
      </div>
    </div>
  </div>
</div>
<%= render "footer" %>
